<script>
    import '../styles/tailwind.css';
    import Fa from 'svelte-fa'
    import { faUserLock } from '@fortawesome/free-solid-svg-icons'
    import { auth } from '../lib/auth'
import { goto } from '$app/navigation';
</script>

<main class="flex justify-between flex-col h-screen transition-colors dark:bg-blue-dark">
    <nav class="flex items-center justify-between">
        <button class="mx-12 mt-4" on:click={() => goto("/")}>
            <img class="w-40" src="/logo.png" alt="Logo de diaposynchro">
        </button>
        {#if $auth.user}
        <div class="mt-4 mr-12">
            <button class="flex flex-row" on:click={() => {auth.signOut()}}>
                <Fa icon={faUserLock} size="lg" color="#475B87" />
            </button>
        </div>
        {/if}
    </nav>  
    {#if $auth.known}
        {#if $auth.user}
            <slot></slot>
        {:else}
            <div class="flex justify-center">
                <button class="bg-blue text-white rounded-lg py-2 px-6 w-40 hover:bg-deepblue transition" on:click={() => auth.signInWith('google') }>Se connecter</button>
            </div>
        {/if}
        {:else}
        <div class="flex justify-center animate-bounce">
			<img class="w-20" src="/icons/screen.png" alt="loading-screen">
			<img class="animate-spin absolute w-7 mt-4" src="/icons/loading-arrows.png" alt="loading-arrows">	
		</div>
    {/if}
    <bottom class="flex flex-col items-center text-gray-light text-xs mb-6 dark:text-gray-medium">
        <p>Projet OpenSource développé par les MIAGE M2 de l’université Paris Saclay pour l’UTL d’Evry.</p>
        <a href="https://gitlab.com/d1786/diaposyncro" target="blank" class="underline">Contribuer au projet</a>
    </bottom>
</main>
    


