<script>
	import { goto } from '$app/navigation';
	import { getFirestore } from "firebase/firestore"
    import { auth } from '../lib/auth'
    import { collection, addDoc } from "firebase/firestore";
    import { getStorage, ref, uploadBytesResumable, uploadBytes, getDownloadURL } from "firebase/storage";
	import Fa from 'svelte-fa'
    import { faLock } from '@fortawesome/free-solid-svg-icons'

	let isLoading = false;

    class slide {
        constructor(title, timer){
            this.title = title,
            this.timer = timer
        }
    }

	let XMLinput, videoInput, imagesInput;
    let dataSlides = [];
    let diapoInput = [];
    let progress = 0;
    let message = "Démarrage..."
	let [file1, file2, file3] = Array(3).fill(false);

	const db = getFirestore();
    const storage = getStorage();
    const storageRefXML = ref(storage, 'demo/infos.json');
    const storageRefVideo = ref(storage, 'demo/video.webm');

    const onXMLSelected =(e)=>{
        let xml = e.target.files[0];
        let reader = new FileReader();
        reader.readAsText(xml);
        reader.onload = e => {
            let data = (new window.DOMParser()).parseFromString(e.target.result.toString(), "text/xml");
            let channel = data.getElementsByTagName("pkg:package");
            let items = Array.prototype.slice.call(channel[0].children);
			let sum = 0;
            items.forEach(item => {
                const regex = /\/ppt\/slides\/slide\d+.xml/g;;
                if (item.getAttribute('pkg:name').toString().match(regex) ){
                    let title = item.childNodes[0].childNodes[0].childNodes[0].childNodes[0].childNodes[2].childNodes[2].childNodes[2].childNodes[0].childNodes[1].textContent;
                    let timer = item.childNodes[0].childNodes[0].childNodes[2].childNodes[1].childNodes[0].getAttribute('advTm')
					let obj = new slide(title, sum)
					sum += timer/1000
                    dataSlides.push(obj)
                }
            });
        };
		file1 = true;
    }

    const onVideoSelected =(e)=>{
        let video = e.target.files[0];
        let reader = new FileReader();
        reader.readAsDataURL(video);
        reader.onload = e => {
            videoInput = e.target.result
        };
		file2 = true;
    }

    const onImagesSelected =(e)=>{
        let images = e.target.files;
        for (let i = 0; i < images.length; i++) {
            let reader = new FileReader();
            reader.readAsDataURL(images[i]);
            reader.onloadend = e => {
                diapoInput.push(e.target.result)
            };
        }
		file3 = true;
    }

    const dataURLtoFile = (dataurl, filename) => {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while(n--){
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, {type:mime});
    }

    const createSession = async () => {
		isLoading = true
        var jsonXML = new Blob([JSON.stringify(dataSlides)], {type : 'application/json'});
        var video = dataURLtoFile(videoInput, 'video.webm');

        if ($auth.user != null) {
            for (let i = 0; i < diapoInput.length; i++) {
                var name = 'img'+i+'.jpg'
                var image = dataURLtoFile(diapoInput[i], name);
                uploadBytesResumable(ref(storage, 'demo/img/'+name), image);
            }
            uploadBytes(storageRefXML, jsonXML).then((snapshot) => {
                message = 'Fichier XML uploadé avec succès.';
            });
            try {
            const docRef = await addDoc(collection(db, "session"), {
                date: Date.now(),
                author: $auth.user.email,
				nbImages: diapoInput.length
            });
                message = "Création d'un fichier de log à l'ID : ", docRef.id;
            } catch (e) {
                message = "Erreur à la création du fichier de log.";
            }
            const uploadTaskVideo = uploadBytesResumable(storageRefVideo, video);
            uploadTaskVideo.on('state_changed', 
            (snapshot) => {
                progress = Math.ceil((snapshot.bytesTransferred / snapshot.totalBytes) * 100);
                message = "Upload de la video...";
            }, 
            (error) => {
                message = "Erreur à l'upload de la video !";
            }, 
            () => {
                getDownloadURL(uploadTaskVideo.snapshot.ref).then((downloadURL) => {
                message = "Vidéo terminée."
                }).then(() => goto("/modifications"));
            }
            );
        }
    }	
</script>

<main class="flex flex-col items-center">
	{#if !isLoading}
	<div class="flex justify-center align-middle">	
		<label class="mx-4 w-52 h-52 border-dashed border-3 {file1 === true ? 'border-green-500' : 'border-gray-light'} dark:border-white rounded-xl flex items-center justify-center flex-col text-center">
			<div on:click={()=>{XMLinput.click();}}></div>
			<input style="display:none" type="file" accept=".xml" on:change={(e)=>onXMLSelected(e)} bind:this={XMLinput} >
			{#if file1}
				<img class="w-14 mb-6" src="/icons/xml-ok.png" alt="XML icon">
				<p class="text-green-500 dark:text-white text-base mx-2 font-medium">XML importé avec succès</p>
			{:else}
				<img class="w-14 mb-6" src="/icons/xml.png" alt="XML icon">
				<p class="text-gray-light dark:text-white text-base mx-2 font-medium">Cliquez içi pour importer<br>le XML du powerpoint</p>
			{/if}
		</label>
		<label class="mx-4 w-52 h-52 border-dashed border-3 {file2 === true ? 'border-green-500' : 'border-gray-light'}  dark:border-white rounded-xl flex items-center justify-center flex-col text-center">
			<div on:click={()=>{videoInput.click();}}></div>
			<input style="display:none" type="file" accept=".webm" on:change={(e)=>onVideoSelected(e)} bind:this={videoInput} >
			{#if file2}
				<img class="w-14 mb-6" src="/icons/webcam-ok.png" alt="Webcam icon">
				<p class="text-green-500 dark:text-white text-base mx-2 font-medium">Vidéo importée avec succès</p>
			{:else}
				<img class="w-14 mb-6" src="/icons/webcam.png" alt="Webcam icon">
				<p class="text-gray-light dark:text-white text-base mx-2 font-medium">Cliquez içi pour importer<br>la vidéo</p>
			{/if}
		</label>
		<label class="mx-4 w-52 h-52 border-dashed border-3 {file3 === true ? 'border-green-500' : 'border-gray-light'}  dark:border-white rounded-xl flex items-center justify-center flex-col text-center">
			<div on:click={()=>{imagesInput.click();}}></div>
			<input style="display:none" type="file" multiple accept=".jpg, .png" on:change={(e)=>onImagesSelected(e)} bind:this={imagesInput} >
			{#if file3}
				<img class="w-14 mb-6" src="/icons/images-ok.png" alt="Images icon">
				<p class="text-green-500 dark:text-white text-base mx-2 font-medium">Images importées avec succès</p>
			{:else}
				<img class="w-14 mb-6" src="/icons/images.png" alt="Images icon">
				<p class="text-gray-light dark:text-white text-base mx-2 font-medium">Cliquez içi pour importer<br>les images du diaporama</p>
			{/if}
		</label>
	</div>
	
	<img class="absolute w-16 ml-96	 mt-32" src="/icons/arrow.png" alt="arrow icon">

	<button on:click|once={createSession} class="mt-10 flex flex-row justify-center items-center {file1 == false || file2 == false || file3 == false ? 'bg-gray-light' : 'bg-blue'} text-white text-base font-semibold px-40 py-2 rounded-lg" disabled='{file1 == false || file2 == false || file3 == false}'>
		{#if file1 == false || file2 == false || file3 == false}
            <Fa icon={faLock} size="sm" color="white" />
        {/if}
		<p class="ml-2">Générer une scène</p>
	</button>

	<div class="text-center text-base mx-80 my-16 text-gray-dark dark:text-white font-medium">
		<p>DiapoSynchro permet de créer automatiquement des scènes et de les partager à vos auditeurs.<br>	
			Merci d’ajouter le diaporama ayant servi pour la présentation (Powerpoint, Slides, ...) ainsi que la
			vidéo filmant le conférencier.</p>
		<p class="mt-4">Lorsque vous avez terminé, cliquez sur “Générer une scène”. La scène sera créée après quelques minutes 
			de chargement, et sera directement mise en ligne à un lien qui vous sera indiqué.</p>
	</div>
	{:else}
	<div class="text-center text-base mx-80 my-16 text-gray-dark dark:text-white font-medium">
		<pre class="text-xl">{progress} %</pre>
		<div class="flex justify-center mt-12 animate-bounce">
			<img class="w-20" src="/icons/screen.png" alt="loading-screen">
			<img class="animate-spin absolute w-7 mt-4" src="/icons/loading-arrows.png" alt="loading-arrows">	
		</div>
		<pre class="mt-4">{message}</pre>
	</div>
	{/if}
</main>
