<script context="module">
	export const prerender = true;
</script>

<script>
    import { getStorage, ref, getDownloadURL } from "firebase/storage";
	import { getFirestore, collection, query, where } from "firebase/firestore"

    const storage = getStorage();

	let imageArray = []
	let slideArray = []
	let test = []
	let urlVideo = ""
	let urlJson = ""

	let nbImages = 8

	class slideData {
        constructor(title, elapsedTime){
            this.title = title,
            this.passedTime = elapsedTime
        }
    }

	async function loadJson(url) {
		const response = await fetch(url);
        return await response.json();
	}

	async function load() {
		await getDownloadURL(ref(storage, "demo/infos.json")).then(
			(url) => {
				urlJson = url,
				loadJson(urlJson).then((json) => slideArray = json)
			}
		).then(() => {
			let sum = 0
			for(let i = 0; i < slideArray.length; i++) {
				console.log(slideArray[i]["title"]);
				test.push(new slideData(slideArray[i]["title"], sum + slideArray[i]["timer"]))
				sum += slideArray[i]["timer"];
			}
		})
		
		let json = [];
		for(let i = 0; i < nbImages; i++) {
			await getDownloadURL(ref(storage, "demo/img/img"+ i +".jpg")).then(
				(url) => json.push(url)
			)
		}
		imageArray = json

		await getDownloadURL(ref(storage, "demo/video.webm")).then(
			(url) => urlVideo = url
		)
	}


	load()

	function setCursorTime(timer) {
		time = timer
	}
		
	let time = 0;
	let duration;
	let paused = true;

	let showControls = true;
	let showControlsTimeout;

	let lastMouseDown;

	function handleMove(e) {
		clearTimeout(showControlsTimeout);
		showControlsTimeout = setTimeout(() => showControls = false, 2500);
		showControls = true;

		if (!duration) return; // video not loaded yet
		if (e.type !== 'touchmove' && !(e.buttons & 1)) return; // mouse not down

		const clientX = e.type === 'touchmove' ? e.touches[0].clientX : e.clientX;
		const { left, right } = this.getBoundingClientRect();
		time = duration * (clientX - left) / (right - left);
	}

	// we can't rely on the built-in click event, because it fires
	// after a drag — we have to listen for clicks ourselves
	function handleMousedown(e) {
		lastMouseDown = new Date();
	}

	function handleMouseup(e) {
		if (new Date().getTime() - lastMouseDown < 300) {
			if (paused) e.target.play();
			else e.target.pause();
		}
	}
	
</script>

<svelte:head />

<div class="">
	<div class="flex flex-col items-center text-gray-dark dark:text-white">
		<div class="mt-8 p-4 rounded-lg dark:bg-gray">
			<div class="flex flex-row">
				<div class="w-96 flex flex-col">
					<video
						controls
						src={urlVideo}
						bind:currentTime={time}
						bind:duration
						bind:paused>
						<track kind="captions">
					</video>
					<div class="ml-6 mt-6 flex flex-col items-start">
						{#each slideArray as slide}
							<button on:click={() => setCursorTime(slide["timer"])}><pre class="mt-2 hover:underline">{slide["title"]}</pre></button>
						{/each}
					</div>
				</div>
				<div class="w-diapo ml-8 h-96">
					<pre>
					{#each slideArray as slide, i}
						{#if time >= slide["timer"] && (i + 1 == slideArray.length || time < slideArray[i+1]["timer"])}
							<img class="object-fill" src={imageArray[i]} alt="rien">
						{/if}
					{/each}
					</pre>
				</div>
			</div>

		</div>
	</div>
</div>

<style>
	div {
		position: relative;
	}

	video {
		width: 100%;
	}
</style>